@model OnlineStore.Models.Product
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <!--section id="breadcrumbs" class="breadcrumbs">
        <div class="container">

            <div class="d-flex justify-content-between align-items-center">
                <h2>تفاصيل المنتج</h2>
                <ol>
                    <li><a href="../../Home/index">الرئيسية</a></li>
                    <li>تفاصيل المنتج</li>
                </ol>
            </div>

        </div>
    </section--><!-- End Breadcrumbs -->
    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper">
                        <div class="swiper-wrapper align-items-center">
                           @foreach (var item in Model.ProductImages)
                            {
                                <div class="swiper-slide">
                                    <img src="../../@item.Image" alt="" style="height:400px;min-width:300px; border-radius: 3%;">
                                </div>
                            }
                                
                            
                    
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4" dir="rtl">
                    <div class="portfolio-info" >
                        <h3>بيانات المنتج</h3>
                        <ul>
                            <li><strong>القسم</strong> : @Model.Cat.Name</li>
                            <li><strong>البائع</strong> : ASU Company</li>
                            <li><strong>السعر</strong> : @Model.Price</li>
                            <li><strong>تاريخ الاضافة</strong> : @Model.CreatedAt</li>
                            <!--li><strong>Project URL</strong>: <a href="#">www.example.com</a></!--li-->
                        </ul>
                        <button class="btn btn-danger">اضافة الى السلة <i class="bi bi-plus"></i></button>
                    </div>
                   
                        <div class="portfolio-description">
                            <h2>@Model.Name</h2>
                            <p>
                                @Model.Description
                            </p>
                        </div>
                   
                   
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
